.country {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 5px;
    max-width: 250px;
    cursor: pointer;

}

.country__flag {
    width: 250px;
    object-fit: contain;
}

.country__details {
    display: flex;
    flex-direction: column;
    padding: 15px;    
} 

/** TODO: ADD STYLES  **/