.countries {
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;

}

.countries__options {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
}

.countries__grid {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}